/LICENSE.txt
/target/
.idea/copyright/profiles_settings.xml
*.iml
.idea/libraries/Maven__commons_codec_commons_codec_1_9.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/workspace.xml
.idea/libraries/Maven__com_nanohttpd_nanohttpd_2_1_1.xml
.idea/libraries/Maven__junit_junit_4_11.xml
.idea/scopes/scope_settings.xml
.idea/libraries/Maven__org_apache_commons_commons_compress_1_9.xml
.idea/libraries/Maven__org_slf4j_slf4j_simple_1_7_7.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_7.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_4.xml
.idea/.name
.idea/modules.xml
.idea/encodings.xml
.idea/compiler.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4.xml
.idea/misc.xml
.idea/vcs.xml
.idea/dictionaries/Erik.xml
